<div class="row">
  <div class="col-xs-4">
    <div class='user-info'>
      <h4>User Information</h4>
        PlaceHolder TextPlaceHolder TextPlaceHolder TextPlaceHolder TextPlaceHolder TextPlaceHolder TextPlaceHolder TextPlaceHolder TextPlaceHolder TextPlaceHolder TextPlaceHolder TextPlaceHolder TextPlaceHolder TextPlaceHolder TextPlaceHolder TextPlaceHolder TextPlaceHolder TextPlaceHolder Text
      </div>
  </div>
  <div class="col-xs-8">
    <div class='user-tweets'>
      <h1>Tweets</h1>

    </div>
  </div>
</div>
